.header__block {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    transition: all 0.25s ease;

    &:hover {
        opacity: 0.7;
    }
}

#header__btn1 {
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
    border-radius: 50%;
    border: 0.5px solid rgb(229, 229, 234);
    box-shadow: 0px 10px 20px 0px rgba(5, 16, 55, 0.1);
    background: rgb(255, 255, 255);
}

#header__btn2 {
    display: inline-block;
    color: rgb(0, 122, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding: 16px;
    border: 0.5px solid rgba(0, 122, 255, 0.12);
    border-radius: 33px;
    background-color: rgba(0, 122, 255, 0.12);
    transition: all 0.25s ease;

    &:hover {
        opacity: 0.7;
    }
}

.header__form {
    width: 470px;
}

.header__input {
    width: 100%;
    cursor: pointer;
    background: rgb(142, 142, 147);
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 14px;
    padding-left: 58px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgb(229, 229, 234);
    border-radius: 60px;
    box-shadow: 0px 12px 24px 0px rgba(5, 16, 55, 0.04);
    background: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-image: url('/img/search.svg');
    background-position: left 20px center;

    &:focus {
        box-shadow: 0px 12px 24px 0px rgba(5, 16, 55, 0.1);
    }

    &::placeholder {
        color: rgb(142, 142, 147);
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
    }
}

.search__result {
    display: none;
    position: absolute;
    width: 430px;
    margin-left: 17px;
    background-color: #fff;
    box-shadow: 0px 12px 24px 0px rgba(5, 16, 55, 0.1);
    padding: 10px 20px 10px 10px;
    border-radius: 8px;
}

.search__cap{
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}